.card {
    position: relative;
    transition: 0.2s ease-in;
    top: 0;
}
.card:hover{
    top: -30px;
}
#testAnimate{
    position: relative;
    animation-name: test 1s ease;
}

@keyframes test {
    from{left: -200px;}
    to {left:0px;}
    
}